
:root {
    --primary-color: #edc168;
}
.home {
    min-height: 80vh;
    background-color: var(--primary-color);
    margin-bottom: 10vh;
    align-items: center;
}
.home .text 
.sectionTwo {
    justify-content: center;
}
.Title {
    position: absolute;
    color: #fff;
    padding-left: 10px;
}